body {
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#game-state {
    font-family: monospace;
    letter-spacing: 1px;
}

#tried-letters {
    font-family: monospace;
    letter-spacing: 1px;
}
